{
    "sourceMaps": true,
    "retainLines": true,
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        //"external-helpers",
        "transform-class-properties",
        "transform-es2015-modules-commonjs"
    ]
}