{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        //"transform-es2015-modules-commonjs",
        "external-helpers",
        "transform-class-properties",
        "transform-object-assign",
        "transform-es2015-typeof-symbol",
        "transform-es2015-template-literals"
    ]
}