{
  "extends": "maptalks",
  "globals": {
      "THREE" : true,
      "define" : true
  },
  "rules": {
    "object-curly-spacing": 0,
    "new-cap"     : 0,
    "key-spacing" : 0,
    "strict"      : 0,
    "global-require" : 0
  }
}
