{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "maptalks",
  "globals": {
    "THREE": true,
    "define": true
  },
  "rules": {
    "object-curly-spacing": [2, "always", { "objectsInObjects": false }],
    "new-cap": 0,
    "key-spacing": 0,
    "strict": 0,
    "global-require": 0
  }
}
