
# dependencies
node_modules

# log
*.log
npm-debug.log*
yarn-error.log*
yarn.lock
package-lock.json

# production
dist

# misc
.DS_Store

# idea
.idea
.vscode
.labe

# Coverage directory used by tools like istanbul
coverage
*.lcov
.turbo

# others
.env
.env.local
web.config
debug
*.tsbuildinfo
*.map
