branches:
  only:
    - "master"
    - "dev"
language: node_js
node_js:
  - "8"
addons:
  firefox: "latest"
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
script:
  gulp test --browsers Firefox
