.page-nav {
  width:14%;
}
.classmain {
  float:right;
  width:70%;
}

.classnav {
    position:fixed;
    width:15%;
    min-width: 150px;
    float:left;
    border: 0px;
    margin-top : 0px;
    overflow:auto;
    height:100%;
    font-size:12px;
}

.classnav ul li {
  margin-top:0px;
}

.classnav ul li a {
    color : #3887BE;
}

.classnav ul li a.inherit {
    color : #aaa;
}

.classnav ul li a.mixed {
    color : #bbb;
}

h3 {
  color : #aaa;
  font-size: 24px!important;
  margin-bottom: 8px!important;
}

h5 {
  color : #aaa;
  font-size : 18px;
}

nav h3 {
    font-size: 24px;
    margin: 0px;
    margin-bottom: 8px;
}

nav h4 {
    color : #aaa;
    font-size: 18px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 8px;
}

nav ul li {
    font-size:12px;
    margin: 0px;
    margin-top: 2px;
}

nav ul li a {
    color: #3887BE;
}

.improvelink {
  float:right;
  font-size:13px;
}

.scroll-styled::-webkit-scrollbar {
  width:8px;
  height:8px;
  border-left:0;
  background:rgba(0,0,0,0.1);
  }

.scroll-styled::-webkit-scrollbar:hover {
  background:rgba(0,0,0,0.15);
  }

.scroll-styled::-webkit-scrollbar-track {
  background:none;
  }

.scroll-styled::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,0.1);
  border-radius:0;
  }

hr {
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px){
  #main {
    width : 100%;
  }
  .page-nav {
    display: none;
  }

}

@media screen and (max-width: 720px){
  #main {
    width : 100%;
  }

  .classmain {
    float:none;
    width: 100%;
  }

  .classnav {
    display: none;
  }

  .page-nav {
    display: none;
  }

  .page-title {
    display: none;
  }
}