.maptalks-control-toolbar {
    background-color: #ffffff;
    border: 1px solid #C4C7CC;
    max-height: 35px;
    width: 100%;
    max-width: 100%;
}

.maptalks-control-toolbar-vertical {
    background-color: #ffffff;
    border: 1px solid #C4C7CC;
    max-width: 35px;
    height: 100%;
    max-height: 100%;
}

.maptalks-control-button {
    position: relative;
    cursor: pointer;
    background-color: #ffffff;
    border: 0px;
    border-right: 1px solid #ecedef;
    color: #6490C4;
    font-size: 16px;
    white-space: nowrap;
}

.maptalks-control-button-hover {
    position: relative;
    cursor: pointer;
    border: 0px;
    font-size: 16px;
    white-space: nowrap;
}

.maptalks-control-menu-down {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cbcbcb;
    border: 1px solid rgba(0,0,0,.15);
}

.maptalks-control-menu-up {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 1000;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cbcbcb;
    border: 1px solid rgba(0,0,0,.15);
}

.maptalks-control-menu-right {
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 1000;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cbcbcb;
    border: 1px solid rgba(0,0,0,.15);
}

.maptalks-control-menu-left {
    position: absolute;
    top: 0px;
    right: 100%;
    z-index: 1000;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cbcbcb;
    border: 1px solid rgba(0,0,0,.15);
}


.maptalks-control-menu-right-up {
    position: absolute;
    bottom: 0;
    right: 100%;
    z-index: 1000;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cbcbcb;
    border: 1px solid rgba(0,0,0,.15);
}

.maptalks-control-menu-left-up {
    position: absolute;
    bottom: 0;
    left: 100%;
    z-index: 1000;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cbcbcb;
    border: 1px solid rgba(0,0,0,.15);
}

.maptalks-control-zoom-button {
    display: inline-block;*display:inline;zoom:1;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    vertical-align: top;
    text-decoration: none;
    color: #5077bb;
    background: transparent url(../images/control.png) no-repeat;

}

.maptalks-control-zoom-in {
    background-position: 0 -229px;
}

.maptalks-control-zoom-out {
    position: relative;
    background-position: 0 -106px;
}

.maptalks-control-zoomlevel-bg {
    position: relative;
    top: 10px;
    left: 0px;
    background-color: #FAF7F5;
    display: inline-block;*display:inline;zoom:1;
    width: 30px;
    height:20px;
    text-align: center;
}

.maptalks-control-zoomlevel-num {
    color: #6490C4;
    font-size: x-large;
}

.maptalks-control-zoomdrop {
    width: 41px;
    height: 143px;
    top: 40px;
    left: 0px;
    background: #faf7f5;
    margin-left: 35px;
    margin-top: -20px;
    padding-top: 15px;
}

.maptalks-control-zoombar {
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 40px;
    overflow: hidden;
    width: 30px;
    height: 131px;
}

.maptalks-control-zoombar-background {
    position: absolute;
    top: 0px;
    left: 12px;
    background: url(../images/zoom_bar.png) no-repeat 0 0;
    width: 6px;
    height: 198px;
}

.maptalks-control-zoom-slider {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 7px;
    background: url(../images/zoom_thumb.png) no-repeat 0 0;
    width: 16px;
    height: 8px;
}


.maptalks-control-nav-button {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    z-index:100;
}

.maptalks-control-nav-left {
    top: 18px;
    left: 2px;
}

.maptalks-control-nav-up {
    top: 2px;
    left: 18px;
}

.maptalks-control-nav-right {
    top: 18px;
    left: 34px;
}

.maptalks-control-nav-down {
    top: 34px;
    left: 18px;
}

.maptalks-control-nav-bar {
    cursor: pointer;
    position: relative;
    width: 52px;
    height: 52px;
}

.maptalks-control-nav-bg {
    background: url(../images/apiimg.png);
}
