.maptalks-infowindow {
    background: url(../images/apiimg.png);
    background-position: right bottom;
    width: 425px;
    position: absolute;
    z-index: 10;
    cursor: default;
    padding:0 0 35px 15px;
}

.maptalks-infowindow-box {
    background: #ffffff;
    border: 1px solid #999999;
    width: 345px;
    min-height: 150px;
}

.maptalks-infowindow-header {
    background: #f9f9f9;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    padding-left: 15px;
}

.maptalks-infowindow-title {
    display:block;
    width: 250px;
    float:left;
}

.maptalks-infowindow-close {
    float: right;
    position: relative;
    top: 0px;
    right: 10px;
    cursor: pointer;
}

.maptalks-infowindow-content {
    color: #555555;
    padding: 10px;
    line-height: 20px;
}

.maptalks-infowindow-arrow {
    background: url(../images/apiimg.png);
    position: absolute;
    left: 180px;
    bottom: 5px;
    background-position: -170px -330px;
    width: 42px;
    height: 31px;
    z-index: 999;
}
