.maptalks-zoom { text-align: center;}
.maptalks-zoom .maptalks-zoom-zoomlevel { display: block; width: 29px; height: 29px; background: #172029; color: #fff;  line-height: 29px; font-size: 12px; transform: scale(.8); -ms-transform: scale(.8); transform-origin: bottom left; -ms-transform-origin: bottom left}
.maptalks-zoom-slider {margin-top: 6px;}
.maptalks-zoom-slider a.maptalks-zoom-zoomin ,.maptalks-zoom-slider a.maptalks-zoom-zoomout {display: block; font-size: 16px; width: 21px; height: 21px; border: 1px solid #363539; background: #172029; color: #fff;  line-height: 19px; text-decoration: none;}
.maptalks-zoom-slider-box { width: 21px; height: 124px; background: #34495e; background:url(images/control/kedu.png) repeat-y; border: 1px solid #35383b; position: relative;}
.maptalks-zoom-slider-box .maptalks-zoom-slider-ruler { width: 5px; height: 112px; background: #372e2b; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; margin: 4px auto; position: relative;}
.maptalks-zoom-slider-box .maptalks-zoom-slider-ruler .maptalks-zoom-slider-reading { width: 5px; height: 50%; position: absolute; bottom: 0; left: 0; background: #1bbc9b; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
.maptalks-zoom-slider-box .maptalks-zoom-slider-dot { width: 15px; height: 15px; background: url(images/control/3.png) no-repeat; position: absolute; top: 50%; left: 3px; cursor: pointer;}

.maptalks-toolbar-vertical { /*border: 1px solid #3b3e44;*/margin: 0;overflow : visible;}
.maptalks-toolbar-vertical ul ,.maptalks-toolbar-horizonal ul {margin: 0;padding: 0;}
.maptalks-toolbar-vertical ul li+li { border-top: 1px solid #425568; }
.maptalks-toolbar-vertical li { text-align:center;list-style: none; line-height:28px;color:#fff; background: #34495e; min-width: 10px; min-height: 28px; /*border-bottom: 1px solid #425568;*/ position: relative; padding:0px 10px;}
.maptalks-toolbar-vertical li:hover { background: #1bbc9b;}
.maptalks-toolbar-vertical li .maptalks-dropMenu { padding: 0; position: absolute; top: 0px; overflow : visible;/*border: 1px solid #3e4f61; border-right: none; border-top: none;*/}
.maptalks-toolbar-vertical li .maptalks-dropMenu li { list-style: none; min-width: 95px; background: #223140; height: 27px;}
.maptalks-toolbar-vertical li .maptalks-dropMenu li a { color: #fff; display: block; line-height: 27px; background: url(images/control/ico-dot.png) no-repeat 14px 10px; text-indent: 33px;  text-decoration: none; font-size: 12px;}
.maptalks-toolbar-vertical li .maptalks-dropMenu em.maptalks-ico { display: block; width: 5px; height: 6px; /*background: url(images/control/4_1.png) no-repeat;*/ position: absolute; top: 12px; right: -4px;}
.maptalks-toolbar-vertical li .maptalks-dropMenu li.maptalks-on ,.maptalks-toolbar-vertical li .maptalks-dropMenu li:hover  { background: #0e595e;}

.maptalks-toolbar-horizonal { /*border: 1px solid #3b3e44;*/margin: 0;overflow : visible;}
.maptalks-toolbar-horizonal li { text-align:left;line-height:28px;color:#fff;padding: 0px 10px;list-style: none; min-width: 28px; min-height: 28px; float: left; background: #34495e; /*border-right: 1px solid #425568;*/ position: relative; }
.maptalks-toolbar-horizonal ul li+li { border-left: 1px solid #425568; }
.maptalks-toolbar-horizonal li:hover { background: #1bbc9b; /*border-right:1px solid #1bbc9b;*/ }
.maptalks-toolbar-horizonal li .maptalks-dropMenu { display:block;position: absolute; left: 0px;  overflow : visible;/*border: 1px solid #3e4f61;  border-top: none;*/}
.maptalks-toolbar-horizonal li .maptalks-dropMenu li { list-style: none; min-width: 95px; background: #223140; height: 27px;}
.maptalks-toolbar-horizonal li .maptalks-dropMenu li+li { border-left: none; border-top: 1px solid #425568 }
.maptalks-toolbar-horizonal li .maptalks-dropMenu li a { color: #fff; display: block; line-height: 27px; background: url(images/control/ico-dot.png) no-repeat 5px 10px; text-indent: 20px; text-decoration: none; font-size: 12px;}
.maptalks-toolbar-horizonal li .maptalks-dropMenu em.maptalks-ico { display: block; width: 5px; height: 6px; /*background: url(images/control/4.png) no-repeat; */position: absolute; top: -4px; left: 12px;}
.maptalks-toolbar-horizonal .maptalks-dropMenu li:hover { background: #0e595e;}

.maptalks-menu { background: #fff; padding: 1px; width: 172px; border: 1px solid #b4b3b3; /*box-shadow: 3px 5px 10px #dbdada;*/}
.maptalks-menu em.maptalks-ico { display: block; width: 17px; height: 10px; background: url(images/control/5.png) no-repeat; position: absolute; top: -10px; left: 8px;}
.maptalks-menu .maptalks-menu-items { color: #5a5756; margin: 0; padding: 0; font-size: 12px;}
.maptalks-menu .maptalks-menu-items li { list-style: none; height: 30px; line-height: 30px; text-indent: 16px;}
.maptalks-menu .maptalks-menu-items li:hover {background: #007fbe; color: #fff;cursor:pointer;}
.maptalks-menu .maptalks-menu-items li.maptalks-menu-splitter { list-style: none; height: 2px; background: #ddd;}

.maptalks-msgBox { background: #fff; border: 1px solid #b4b3b3; border-radius: 3px; /*box-shadow: 3px 5px 5px #dbdada;*/}
.maptalks-msgBox em.maptalks-ico { display: block; width: 17px; height: 10px; background: url(images/control/5_1.png) no-repeat; position: absolute; left: 50%; margin-left: -5px; bottom: -10px;}
.maptalks-msgBox h2 { display: block; height: 30px; line-height: 30px; font-weight: bold; font-size: 14px; padding: 0 10px;  margin: 0;}
.maptalks-msgBox a.maptalks-close { display: block; width: 13px; height: 13px; background: url(images/control/infownd-close.png) no-repeat; position: absolute; top: 8px; right: 10px;}
.maptalks-msgBox a.maptalks-close:hover { background: url(images/control/infownd-close-hover.png) no-repeat;}
.maptalks-msgBox .maptalks-msgContent { font-size: 12px;padding: 10px; min-width: 200px;}

.maptalks-panel { background: #fff; border: 1px solid #b4b3b3; border-radius: 3px; /*box-shadow: 3px 5px 5px #dbdada;*/}
.maptalks-panel .maptalks-panel-content { padding: 10px; min-width: 200px; min-height: 60px;}
.maptalks-panel a.maptalks-close { display: block; width: 6px; height: 7px; background: url(images/control/close-2.png) no-repeat; position: absolute; top: 10px; right: 10px;}
.maptalks-panel a.maptalks-close:hover { opacity: 0.5;}

.maptalks-attribution {display: inline-block;opacity: 1;background:#fff; background-color: rgba(255,255,255,0.7);padding:0px;font-size:13px;font-family: "microsoft yahei","Helvetica Neue", Helvetica, sans-serif;}
.maptalks-attribution a {text-decoration: none; color : #0078A8;}
.maptalks-attribution a:hover {text-decoration: underline;}

.maptalks-overview {background:#fff; border:1px solid #b4b3b3; width:100%;height:100%;}
.maptalks-overview-button {
  cursor:pointer;
  background:#fff;
  width:18px;
  height:18px;
  position:absolute;
  bottom: 1px;
  right: 1px;
  font: 16px sans-serif;
  text-align : center;
  line-height : 16px;
  border:1px solid #b4b3b3;
  color : #363539;
}

.maptalks-layer-switcher ul {
  list-style: none;
}
.maptalks-layer-switcher .panel > ul {
  padding-left: 1em;
}
.maptalks-layer-switcher .group > ul {
  padding-left: 10px;
}
.maptalks-layer-switcher .group + .group {
  padding-top: 1em;
}
.maptalks-layer-switcher label {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  font-size : 14px;
  white-space: nowrap;
  color: #bbb;
}
.maptalks-layer-switcher .group > label {
  font-weight: bold;
  color: #ddd;
  width: 100%;
}
.maptalks-layer-switcher .layer label {
  padding-top: 5px;
  width: 92%;
}
.maptalks-layer-switcher input {
  margin: 0 5px;
  position: relative;
  top: -2px;
}
.maptalks-layer-switcher input[disabled = 'disabled'] {
  cursor: not-allowed;
}
.maptalks-layer-switcher input[disabled = 'disabled'] + label {
  color: #666;
}
.maptalks-layer-switcher button, .maptalks-layer-switcher .panel {
  border-radius: 4px;
}
.maptalks-layer-switcher button {
  width: 28px;
  height: 28px;
  background: url(images/control/layer.png) no-repeat 4px 4px;
  background-color: #172029;
  border: none;
}
.maptalks-layer-switcher.shown button {
  display: none;
}
.maptalks-layer-switcher .panel {
  background-color: #172029;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 120px;
  max-width: 400px;
  max-height: 500px;
}
.maptalks-layer-switcher li {
  white-space:nowrap;
}
.maptalks-layer-switcher li.group {
  margin-right: 1em;
}
.maptalks-layer-switcher.shown .panel {
  display: block;
}
.maptalks-layer-switcher ::-webkit-scrollbar {
  width: 6px;
}
.maptalks-layer-switcher ::-webkit-scrollbar-track {
  background-color: #1f1f1f;
}
.maptalks-layer-switcher ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #777;
}
