.maptalks-control-toolbar {
    background-color: #ffffff;
    border: 1px solid #C4C7CC;
    max-height: 35px;
    width: 100%;
    max-width: 100%;
}

.maptalks-control-toolbar-vertical {
    background-color: #ffffff;
    border: 1px solid #C4C7CC;
    max-width: 35px;
    height: 100%;
    max-height: 100%;
}

.maptalks-control-button {
    position: relative;
    cursor: pointer;
    background-color: #ffffff;
    border: 0px;
    padding: 5px;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
}

.maptalks-control-button-hover {
    position: relative;
    cursor: pointer;
    background-color: #F3F3FA;
    padding: 5px;
    border: 0px;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
}
