.maptalks-toolbox {
    background-color: #ffffff;
    /*border: 1px solid #C4C7CC;*/
    /*max-height: 20px;*/
}

.maptalks-toolbox-button {
    cursor: pointer;
    padding: 1px;
    background-color: #ffffff;
    border: 1px solid #ecedef;
    color: #6490C4;
    font-size: 16px;
    white-space: nowrap;
}
