{
  "root": true,
  "env": {
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "maptalks",
  "globals": {
  },
  "rules": {
    "no-var" : "error",
    "prefer-const": "error",
    "global-require": 0
  }
}
